<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <!-- <a ng-href="http://localhost:8000/editCard{{cardData.id}}">
         <button type="button" class="glyphicon  glyphicon-cog close"></button>
     </a>-->

    <h4 class="modal-title" >Name '{{cardData.name}}'</h4>


</div>
<div class="modal-body">

    <!--                                                             Nav  Menu              -->
    <ul class="nav nav-tabs" id="tab">
        <li class="active">
            <a href="#card-detail" data-toggle="tab">General</a>
        </li>
        <li>
            <a href="#card-date" data-toggle="tab">Date</a>
        </li>

        <li>
            <a href="#card-checklist" data-toggle="tab">Checklist</a>
        </li>
        <li>
            <a href="#card-comment" data-toggle="tab">Comment</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="card-detail"> <!--                                      General-->
            <div class="box box-primary">
                <br>
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Name" placeholder="Card Name"
                                       ng-model="cardData.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Detail" class="col-sm-2 control-label">Detail</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Detail" placeholder="Detail"
                                       ng-model="cardData.detail">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="member" class="col-sm-2 control-label">Member</label>
                            <div class="col-sm-10">
                                <select id="member" ng-model="cardData.MemberManagement_id" class="form-control">
                                    <option ng-repeat="memberData in DataEdit.manager" value="{{memberData.id}}"
                                            ng-model="cardData.MemberManagement_id"
                                            ng-selected="cardData.MemberManagement_id == memberData.id">
                                        {{memberData.member.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">Color</label>
                            <div class="col-sm-10">
                                <select id="color" ng-model="cardData.color_id" class="form-control">
                                    <option ng-repeat="colorData in DataEdit.color" value="{{colorData.id}}"
                                            ng-model="cardData.color_id"
                                            ng-selected="cardData.color_id == colorData.id">{{colorData.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="priority" class="col-sm-2 control-label">Priority</label>
                            <div class="col-sm-10">
                                <select id="priority" ng-model="cardData.priority_id" class="form-control">
                                    <option ng-repeat="priorityData in DataEdit.priority" value="{{priorityData.id}}"
                                            ng-model="cardData.priority_id"
                                            ng-selected="cardData.priority_id == priorityData.id">{{priorityData.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <button ng-click="saveEditCard(cardData)" ng-show="DataEdit.user.Level_id == 1 || DataEdit.user.id == cardData.member_card.Members_id" class="btn btn-default pull-right">SAVE</button>

                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="card-date"> <!--                         -------------------------     Date-->

            <div class="box box-primary">
                <b>Estimate Start:</b>
                <p>{{cardData.estimate_start}}</p>
                <b>Estimate End:</b>
                <p>{{cardData.estimate_end}}</p>

                <label for="xxx" class="col-sm-2 control-label">Estimate Date</label>
                <div class="col-sm-10 ">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" name="date" class="form-control " id="xxx" placeholder="Estimate Date" required>
                    </div>
                </div>
            </div>

        </div>



        <div class="tab-pane fade" id="card-checklist"> <!--                                                 Checklist-->

            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Check List</h3>

                </div><!-- /.box-header -->
                <div class="box-body">


                    <ul class="todo-list">
                        <li ng-repeat="checklist in cardData.checklists">
                            <!-- <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>-->
                            <input type='checkbox' ng-model="checklist.status" ng-true-value="1" ng-false-value="0"
                                   ng-click="changeCheckStatus(checklist)"  >
                            <span class="text">{{checklist.name}}</span>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o" ng-click="removeChecklist(cardData.id,checklist.id)"></i>
                            </div>
                        </li>

                    </ul>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">

                    <div class="input-group">
                        <input class="form-control" placeholder="Checklist name..." ng-model="newChecklist"  ng-show="DataEdit.user.Level_id == 1 || DataEdit.user.id == cardData.member_card.Members_id">
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-click="addChecklist(newChecklist,cardData.id)"  ng-show="DataEdit.user.Level_id == 1 || DataEdit.user.id == cardData.member_card.Members_id"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                </div>
            </div><!-- /.box -->
        </div>

        <div class="tab-pane fade" id="card-comment"> <!--                                                 Comment-->


            <!-- Chat box -->
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-comments-o"></i>
                    <h3 class="box-title">Comment</h3>

                </div>
                <div class="box-body chat" id="chat-box">
                    <!-- chat item -->
                    <div class="item" ng-repeat="comment in cardData.comments">
                        <img >
                        <p class="message">
                            <a class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{comment.created_at}} </small>
                                {{comment.member_comment.name}}
                            </a>
                            {{comment.detail}}
                        </p>
                        <hr>
                    </div><!-- /.item -->

                    <div class="box-footer clearfix no-border">

                        <div class="input-group">
                            <input class="form-control" placeholder="..." ng-model="newComment" >
                            <div class="input-group-btn">
                                <button class="btn btn-success" ng-click="addComment(newComment,cardData.id)">
                                    <i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                    </div>
            </div><!-- /.box (chat box) -->

        </div>

    </div>
</div>
<div class="modal-footer">


</div>
    </div>

<script>

    $(document).ready(function () {
        $("#tab").click(function () {
            $(this).tab('show');
        });
        $('#xxx').daterangepicker({format: 'YYYY/MM/DD'});
    });

</script>