<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <!-- <a ng-href="http://localhost:8000/editCard{{cardData.id}}">
         <button type="button" class="glyphicon  glyphicon-cog close"></button>
     </a>-->

    <h4 class="modal-title" >Name '{{cardData.name}}'</h4>


</div>
<div class="modal-body">

    <!--                                                             Nav  Menu              -->
    <ul class="nav nav-tabs" id="tab">
        <li class="active">
            <a href="#card-detail" data-toggle="tab">General</a>
        </li>
        <li>
            <a href="#card-date" data-toggle="tab">Date</a>
        </li>

        <li>
            <a href="#card-checklist" data-toggle="tab">Checklist</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="card-detail">
            <div class="box box-primary">
                <br>
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Name" placeholder="Card Name"
                                       ng-model="cardData.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Detail" class="col-sm-2 control-label">Detail</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Detail" placeholder="Detail"
                                       ng-model="cardData.detail">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="member" class="col-sm-2 control-label">Member</label>
                            <div class="col-sm-10">
                                <select id="member" ng-model="cardData.MemberManagement_id" class="form-control">
                                    <option ng-repeat="memberData in DataEdit.manager" value="{{memberData.id}}"
                                            ng-model="cardData.MemberManagement_id"
                                            ng-selected="cardData.MemberManagement_id == memberData.id">
                                        {{memberData.member.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">Color</label>
                            <div class="col-sm-10">
                                <select id="color" ng-model="cardData.color_id" class="form-control">
                                    <option ng-repeat="colorData in DataEdit.color" value="{{colorData.id}}"
                                            ng-model="cardData.color_id"
                                            ng-selected="cardData.color_id == colorData.id">{{colorData.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="priority" class="col-sm-2 control-label">Priority</label>
                            <div class="col-sm-10">
                                <select id="priority" ng-model="cardData.priority_id" class="form-control">
                                    <option ng-repeat="priorityData in DataEdit.priority" value="{{priorityData.id}}"
                                            ng-model="cardData.priority_id"
                                            ng-selected="cardData.priority_id == priorityData.id">{{priorityData.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <button ng-click="saveEditCard(cardData)" class="btn btn-default pull-right">SAVE</button>

                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="card-date">

            <div class="box box-primary">
                <b>Estimate Start:</b>
                <p>{{cardData.estimate_start}}</p>
                <b>Estimate End:</b>
                <p>{{cardData.estimate_end}}</p>
            </div>

        </div>
        <div class="tab-pane fade" id="card-checklist">


            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Check List</h3>

                </div><!-- /.box-header -->
                <div class="box-body">


                    <ul class="todo-list">
                        <li ng-repeat="checklist in cardData.checklists">
                            <!-- <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>-->
                            <input type='checkbox' ng-model="checklist.status" ng-true-value="1" ng-false-value="0"
                                   ng-click="changeCheckStatus(checklist)">
                            <span class="text">{{checklist.name}}</span>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o" ng-click="removeChecklist(cardData.id,checklist.id)"></i>
                            </div>
                        </li>

                    </ul>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">

                    <div class="input-group">
                        <input class="form-control" placeholder="Checklist name..." ng-model="newChecklist" >
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-click="addChecklist(newChecklist,cardData.id)"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                </div>
            </div><!-- /.box -->
        </div>
    </div>
</div>
<div class="modal-footer">


</div>

<script>

    $(document).ready(function () {
        $("#tab").click(function () {
            $(this).tab('show');
        });
    });

</script>