
<div ng-model="kanbanBoard" id="board" ng-controller="KanbanController as self">



    <div id="columns" class="row">

        <div class="col-sm-3 col-xs-3" ng-repeat="column in self.kanbanBoard .columns"
             data-columnindex="{{$index}}" id="column{{$index}}">

            <div class="column">
                <div class="columnHeader" ng-show="column.name != 'Doing'" >
                    <!--<a title="Add card to column" ng-click="self.addNewCard(column)">
                    <i class="glyphicon glyphicon-plus addNewCard"></i></a>-->
                    <span>{{column.name}} ({{column.cards.length}})</span>
                </div>

                <div class="columnHeader" ng-show="column.name == 'Doing'" >

                    <span>{{column.name}} ({{column.cards.length}}/5)</span>
                </div>

                  <!-- loob show card -->
                <ul class="cards card-list" as-sortable="self.kanbanSortOptions" ng-model="column.cards" >
                    <li class="card" ng-repeat="card in column.cards" as-sortable-item ng-include="'/views/partials/card.html'">

                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>


