<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <!-- <a ng-href="http://localhost:8000/editCard{{cardData.id}}">
         <button type="button" class="glyphicon  glyphicon-cog close"></button>
     </a>-->

    <h4 class="modal-title">Name '{{cardData.name}}'</h4>


</div>
<div class="modal-body">

    <!--                                                             Nav  Menu              -->
    <ul class="nav nav-tabs" id="tab">
        <li class="active">
            <a href="#card-detail" data-toggle="tab">General</a>
        </li>
        <li>
            <a href="#card-date" data-toggle="tab">Date</a>
        </li>

        <li>
            <a href="#card-checklist" data-toggle="tab">Checklist</a>
        </li>
        <li>
            <a href="#card-comment" data-toggle="tab">Comment</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="card-detail"> <!--                                      General-->
            <div class="box box-primary">
                <br>
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Name" placeholder="Card Name"
                                       ng-model="cardData.name"
                                       ng-show="DataEdit.user.Level_id == 1 || DataEdit.boardManager.manager_id == DataEdit.user.id ">
                                <input type="text" class="form-control" id="Name" placeholder="Card Name"
                                       ng-model="cardData.name"
                                       ng-show="DataEdit.user.Level_id != 1 && DataEdit.boardManager.manager_id != DataEdit.user.id "
                                       disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Detail" class="col-sm-2 control-label">Detail</label>
                            <div class="col-sm-10">
                               <textarea type="text" class="form-control" id="Detail" placeholder="Detail" rows="5"
                                         ng-model="cardData.detail"
                                         ng-show="DataEdit.user.Level_id == 1 || DataEdit.boardManager.manager_id == DataEdit.user.id "></textarea>
                                <textarea type="text" class="form-control" id="Detail" placeholder="Detail" rows="5"
                                          ng-model="cardData.detail"
                                          ng-show="DataEdit.user.Level_id != 1 && DataEdit.boardManager.manager_id != DataEdit.user.id "
                                          disabled></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="member" class="col-sm-2 control-label">Member</label>
                            <div class="col-sm-10">
                                <select id="member" class="form-control" ng-model="cardData.MemberManagement_id"
                                        ng-show="DataEdit.user.Level_id == 1 || DataEdit.boardManager.manager_id == DataEdit.user.id ">
                                    <option ng-repeat="memberData in DataEdit.manager" value="{{memberData.id}}"
                                            ng-model="cardData.MemberManagement_id"
                                            ng-selected="cardData.MemberManagement_id == memberData.id">
                                        {{memberData.member.name}}
                                    </option>
                                </select>

                                <select id="member" class="form-control" ng-model="cardData.MemberManagement_id"
                                        ng-show="DataEdit.user.Level_id != 1 && DataEdit.boardManager.manager_id != DataEdit.user.id "
                                        disabled>
                                    <option ng-repeat="memberData in DataEdit.manager" value="{{memberData.id}}"
                                            ng-model="cardData.MemberManagement_id"
                                            ng-selected="cardData.MemberManagement_id == memberData.id">
                                        {{memberData.member.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="color" class="col-sm-2 control-label">Color</label>
                            <div class="col-sm-10">
                                <select id="color" ng-model="cardData.color_id" class="form-control"
                                        ng-show="DataEdit.user.Level_id == 1 || DataEdit.boardManager.manager_id == DataEdit.user.id ">
                                    <option ng-repeat="colorData in DataEdit.color" value="{{colorData.id}}"
                                            ng-model="cardData.color_id"
                                            ng-selected="cardData.color_id == colorData.id">{{colorData.name}}
                                    </option>
                                </select>
                                <select id="color" ng-model="cardData.color_id" class="form-control"
                                        ng-show="DataEdit.user.Level_id != 1 && DataEdit.boardManager.manager_id != DataEdit.user.id "
                                        disabled>
                                    <option ng-repeat="colorData in DataEdit.color" value="{{colorData.id}}"
                                            ng-model="cardData.color_id"
                                            ng-selected="cardData.color_id == colorData.id">{{colorData.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="priority" class="col-sm-2 control-label">Priority</label>
                            <div class="col-sm-10">
                                <select id="priority" ng-model="cardData.priority_id" class="form-control"
                                        ng-show="DataEdit.user.Level_id == 1 || DataEdit.boardManager.manager_id == DataEdit.user.id ">
                                    <option ng-repeat="priorityData in DataEdit.priority" value="{{priorityData.id}}"
                                            ng-model="cardData.priority_id"
                                            ng-selected="cardData.priority_id == priorityData.id">{{priorityData.name}}
                                    </option>
                                </select>
                                <select id="priority" ng-model="cardData.priority_id" class="form-control"
                                        ng-show="DataEdit.user.Level_id != 1 && DataEdit.boardManager.manager_id != DataEdit.user.id "
                                        disabled>
                                    <option ng-repeat="priorityData in DataEdit.priority" value="{{priorityData.id}}"
                                            ng-model="cardData.priority_id"
                                            ng-selected="cardData.priority_id == priorityData.id">{{priorityData.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" ng-show="cardData.pre_card != null">
                            <label for="Name" class="col-sm-2 control-label">Pre Card</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       ng-model="cardData.pre_card.name" disabled>

                            </div>
                        </div>

                        <button ng-click="saveEditCard(cardData)"
                                ng-show="DataEdit.user.Level_id == 1 || DataEdit.boardManager.manager_id == DataEdit.user.id "
                                class="btn btn-default pull-right">SAVE
                        </button>


                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="card-date"> <!--                         -------------------------     Date-->

            <div class="box box-primary">

                <div class="box-body">
                    <br>
                    <p><b>Estimate Start:</b> {{cardData.estimate_start}}</p>

                    <p><b>Estimate End:</b> {{cardData.estimate_end}}</p>
                    <br>
                    <hr>
                    <br>
                    <p><b>Start:</b> {{cardData.date_start}}</p>

                    <p><b>End:</b> {{cardData.date_end}}</p>



                </div>
            </div>

        </div>


        <div class="tab-pane fade" id="card-checklist">
            <!--                                                 Checklist-->

            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Check List</h3>

                </div><!-- /.box-header -->
                <div class="box-body">


                    <ul class="todo-list">
                        <li ng-repeat="checklist in cardData.checklists">
                            <!-- <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                          </span>-->
                            <input type='checkbox' ng-model="checklist.status" ng-true-value="1" ng-false-value="0"
                                   ng-click="changeCheckStatus(checklist)"
                                   ng-show="DataEdit.user.Level_id == 1
                                   || DataEdit.user.id == cardData.member_card.Members_id
                                   || DataEdit.boardManager.manager_id == DataEdit.user.id ">


                            <a href="#" editable-text="checklist.name" >{{checklist.name}}</a>

                            <div class="tools">

                                <i class="fa fa-trash-o"
                                   ng-click="removeChecklist(cardData.id,checklist.id)"
                                   ng-show="DataEdit.user.Level_id == 1
                                   || DataEdit.user.id == cardData.member_card.Members_id
                                   || DataEdit.boardManager.manager_id == DataEdit.user.id ">
                                </i>
                            </div>

                        </li>

                    </ul>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix no-border">

                    <div class="input-group">
                        <input class="form-control" placeholder="Checklist name..." ng-model="newChecklist"
                               ng-show="DataEdit.user.Level_id == 1 || DataEdit.user.id == cardData.member_card.Members_id">
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-click="addChecklist(newChecklist,cardData.id)"
                                    ng-show="DataEdit.user.Level_id == 1
                                    || DataEdit.boardManager.manager_id == DataEdit.user.id
                                    || DataEdit.user.id == cardData.member_card.Members_id">
                                <i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                </div>
            </div><!-- /.box -->
        </div>

        <div class="tab-pane fade" id="card-comment"> <!--                                                 Comment-->


            <!-- Chat box -->
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-comments-o"></i>
                    <h3 class="box-title">Comment</h3>

                </div>
                <div class="box-body chat" id="chat-box">
                    <!-- chat item -->
                    <div class="item" ng-repeat="comment in cardData.comments">
                        <img>
                        <p class="message">
                            <a class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>
                                    {{comment.created_at}}

                                    <i class="glyphicon glyphicon-remove"  style="color:red"
                                       ng-click="removeComment(comment.id,cardData.id)"
                                       ng-show="DataEdit.user.Level_id == 1
                                       || DataEdit.boardManager.manager_id == DataEdit.user.id
                                       || DataEdit.user.id == comment.Members_id
                                      ">
                                    </i>

                                </small>
                                {{comment.member_comment.name}}
                            </a>

                            {{comment.detail}}
                        </p>
                        <hr>
                    </div><!-- /.item -->

                    <div class="box-footer clearfix no-border">

                        <div class="input-group">
                            <input class="form-control" placeholder="..." ng-model="newComment">
                            <div class="input-group-btn">
                                <button class="btn btn-success" ng-click="addComment(newComment,cardData.id)">
                                    <i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                    </div>
                </div><!-- /.box (chat box) -->

            </div>

        </div>
    </div>
    <div class="modal-footer">


    </div>
</div>

<script>

    $(document).ready(function () {
        $("#tab").click(function () {
            $(this).tab('show');
        });
        $('#xxx').daterangepicker({format: 'YYYY/MM/DD'});
    });

</script>